.wardrobe-section {
    margin: 0 2rem;

    .images {
        margin: 1rem 0 2rem;

        display: flex;
        flex-wrap: wrap;

        img {
            object-fit: cover;
            width: 8rem;
            height: 8rem;
        }

        p {
            text-decoration: dashed;
        }
    }
}
