.garderobe-section {
    margin: 0 2rem;

    .images {
        margin: 2rem 0;

        display: flex;
        flex-wrap: wrap;

        img {
            object-fit: cover;
            width: 150px;
            height: 150px;
        }
    }
}
