.upload-section-wrapper {
    margin: 0 2rem;

    .upload-section {
        &__categories {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            margin-bottom: 2rem;

            .image-upload {
                h2 {
                    margin-bottom: 1rem;
                }
            }
        }

        button {
            padding: 0.5rem;
            margin-bottom: 1.5rem;
            background-color: transparent;
            border: 2px rgb(238, 238, 238) solid;
            border-radius: 1rem;
            color: rgb(238, 238, 238);
            width: 8rem;

            &:hover {
                cursor: pointer;
            }
        }

        .success-message {
            margin-left: 2rem;
            font-size: 0.8rem;
        }
    }

    button.add-new {
        background-color: transparent;
        border: none;
        color: rgb(238, 238, 238);

        &:hover {
            text-decoration: underline;
        }
    }
}
