.navbar {
    height: 4rem;
    padding: 2rem;
    font-weight: 700;

    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        text-decoration: none;
        color: rgb(238, 238, 238);
    }

    &__garderobe {
        font-weight: 400;

        &:hover {
            font-style: italic;
        }
    }
}
