.generation-section-message {
    // font-size: 24rem; //eig

    padding: 0 2rem;

    font-size: 1rem;
    // word-break: break-all;
    cursor: default;

    @media (min-width: 576px) {
        font-size: 8rem;
        word-break: normal;
        padding: 0;
    }

    @media (min-width: 768px) {
        font-size: 12rem;
    }

    @media (min-width: 1200px) {
        font-size: 16rem;
    }

    @media (min-width: 1400px) {
        font-size: 24rem;
    }

    span {
        font-style: italic;
        font-size: 1rem;
        word-break: normal;

        @media (min-width: 576px) {
            font-style: normal;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.generation-section {
    margin: 0 2rem;
    width: 100%;

    .generation-results {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;

        &__image {
            object-fit: cover;
            width: 12rem;
            height: 12rem;
        }

        &__placeholder {
            width: 12rem;
            height: 12rem;
            border: 1px solid rgb(238, 238, 238);
        }

        .result-wrapper {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
        }
    }

    button {
        background-color: transparent;
        color: rgb(238, 238, 238);
        border: none;

        &:hover {
            cursor: pointer;
        }
    }
}
